<div class="sdEditorCellWrapper" ng-controller="editableCellTemplateController">
    <!--<input ng-class="'colt' + col.index"-->
    <!--ng-change="validateCellData(row, col.field)"-->
    <!--&lt;!&ndash;ng-input="row.entity[col.field]"&ndash;&gt;  ng-model-options="{updateOn: 'blur'}"-->
    <!--ng-model="row.entity[col.field]"/>-->
    <input ng-class="'colt' + col.index" ng-input="row.entity[col.field]" ng-model="row.entity[col.field]" ng-change="validateCellData(row, col.field)" ng-show="true" show-focus="true" />
</div>
